<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Regensburger.RShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Regensburger.RShare.Properties.Settings>
            <setting name="CorruptDirectory" serializeAs="String">
                <value>corrupt</value>
            </setting>
            <setting name="IncomingDirectory" serializeAs="String">
                <value>incoming</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="PreferencesDirectory" serializeAs="String">
                <value>preferences</value>
            </setting>
            <setting name="TemporaryDirectory" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="PreviewFiletypes" serializeAs="String">
                <value>wmv|mov|asf|avi|mpeg|mpg|mp3|flac|ogg|wav|wma|divx|mp4|mkv</value>
            </setting>
            <setting name="PreviewPlayer" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysCloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AverageConnectionsCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DownloadCapacity" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="DownloadInformationDialogLastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadLimit" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasDownloadLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasUploadLimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormLastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormLocationX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainFormSizeWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6097</value>
            </setting>
            <setting name="PreferencesDialogLastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgressBarsHaveShadow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgressBarsShadow" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProgressBarsShowPercent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchResultInformationDialogLastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowMessageBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SynchronizeWebCaches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadCapacity" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="UploadLimit" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="UseBytesInsteadOfBits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserWasAsked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReloadSharedFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReloadSharedFilesPause" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WriteLogfile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormLocationY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainFormSizeHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ActivateOnlineSignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlineSignatureUpdateIntervall" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ParseCollections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubFoldersForCollections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoMoveDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoMoveDownloadsIntervall" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StartInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewDownloadsToBeginngingOfQueue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchSplitterDistance" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="searchesPatternIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="searchesPatternWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="searchesIsActiveIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="searchesIsActiveWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="searchesResultsIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="searchesResultsWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="resultsIconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resultsIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="resultsRatingIconIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="resultsRatingIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="resultsFileNameIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="resultsFileNameWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="resultsFileSizeIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="resultsFileSizeWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="resultsSourcesIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="resultsSourcesWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="resultsAlbumIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="resultsAlbumWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="resultsArtistIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="resultsArtistWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="resultsTitleIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="resultsTitleWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedIconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sharedIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedRatingIconIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sharedRatingIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedFileNameIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sharedFileNameWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="sharedFileSizeIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sharedFileSizeWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sharedDirectoryIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="sharedDirectoryWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedAlbumIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sharedAlbumWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedArtistIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="sharedArtistWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedTitleIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="sharedTitleWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sharedlastRequestIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="sharedlastRequestWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="uploadsFileNameIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uploadsFileNameWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="uploadsFileSizeIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="uploadsFileSizeWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="uploadsCompletedIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="uploadsCompletedWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="uploadsProgressIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="uploadsProgressWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="uploadsRemainingIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="uploadsRemainingWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="uploadslastRequestIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="uploadslastRequestWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="connectionsIconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="connectionsIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="connectionsIPAddressIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="connectionsIPAddressWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="connectionsPortIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="connectionsPortWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="connectionsSentIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="connectionsSentWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="connectionsReceivedIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="connectionsReceivedWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="connectionsSentCommandsIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="connectionsSentCommandsWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="connectionsReceivedCommandsIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="connectionsReceivedCommandsWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="connectionsEnqueuedCommandsIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="connectionsEnqueuedCommandsWidth" serializeAs="String">
                <value>84,07821</value>
            </setting>
            <setting name="downloadsSplitterDistance" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="downloadsDownloadIconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="downloadsDownloadIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="downloadsRatingIconIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="downloadsRatingIconWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="downloadsFileNameIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="downloadsFileNameWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="downloadsFileSizeIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="downloadsFileSizeWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="downloadsCompletedIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="downloadsCompletedWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="downloadsProgressImageIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="downloadsProgressImageWidth" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="downloadsStatusIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="downloadsStatusWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="downloadsSourcesIndex" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="downloadsSourcesWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="downloadsRemainingIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="downloadsRemainingWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="downloadslastSeenIndex" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="downloadslastSeenWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="downloadslastReceptionIndex" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="downloadslastReceptionWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="sourcesSourceIconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sourcesSourceIconWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sourcesTypeIconIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sourcesTypeIconWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sourcesTypeIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sourcesTypeWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sourcesQueueIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="sourcesQueueWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sourcesSentCommandsIndex" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sourcesSentCommandsWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="sourcesReceivedCommandsIndex" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="sourcesReceivedCommandsWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ActivateSearchDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchDBCleanUpDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="resultsAgeIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="resultsAgeWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxSearchDBResults" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="sourcesProgressIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="sourcesProgressWidth" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MaximumDownloadsCount" serializeAs="String">
                <value>6</value>
            </setting>
        </Regensburger.RShare.Properties.Settings>
    </userSettings>
</configuration>